In [4]:
import pandas as pd
%config IPCompleter.greedy=True
fold='../src/datasets/titanic'
pfile='titanic3.xls'
src=fold+'/'+pfile
hoja='titanic3'
# Leer excel: nombre del archivo , Nombre de la HOJA (Sheet)
excel=pd.read_excel(src,hoja)
excel.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

#  Guardar en CSV

In [8]:
excel.to_csv(fold+'/ANDES_CSVTitanic.csv')
excel.to_excel(fold+'/ANDES_EXCEL_Titanic.xls')

excel.to_json(fold+'/ANDES_JSON_Titanic.json')

PermissionError: [Errno 13] Permission denied: '../src/datasets/titanic/ANDES_EXCEL_Titanic.xls'