# Cargar los datos desde la funcion OPEN y convertir a un nuevo formato

In [42]:
import pandas as pd
import numpy as np
import os
#Abriri documentos con la funcion OPEN
mp='../src/datasets/customer-churn-model'
pfile='Customer Churn Model.txt'
src=mp+'/'+pfile
data1=open(src, 'r')
cols=data1.readline().strip().split(',')
# Contar la cantidad de columnas # columnas
ncols=len(cols)
ncols
#Para contar las filas se hara un Script 
#Contar las Filas del documento almacenado en col
counter=0
dic={}
#Crear diccionario de un archivo
# crear un for que recorrera las columnas y se pone clave:nombre columna, valor: [] Vacio
for col in cols:
    dic[col]=[]
# Se recorrera los valores de cada uno de las filas que será un array..y se seaparara el array que tiene coma (,).
for line in data1:
# Quita valores sobrantes y  almacenar el valor separado por comas en values
    values=line.strip().split(",")
# se hace una lista con la longitud de columnas  y se recorre ese tamaño
    for i in range(len(cols)):
# Se agrega a la columna i el valor del array en la posicion i        
        dic[cols[i]].append(values[i])
    counter+=1
print('EL data set tiene  %d filas y %d Columnas' %(counter, ncols))

EL data set tiene  3333 filas y 21 Columnas

In [2]:
#

In [3]:
#Crear DF desde el diccionario
df3=pd.DataFrame(dic)
df3.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
1,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
2,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
3,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
4,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.

# Lectura y escritura de un fichero cambiando la estructura. separada por tabuladores

../src/datasets/customer-churn-model/Tab Customer Churn Model.txt

# Ejercicoo v2

In [38]:
import pandas as pd
import numpy as np
import os
#Abriri documentos con la funcion OPEN
mp='../src/datasets/customer-churn-model'
pfile='Customer Churn Model.txt'
src=mp+'/'+pfile
data1=open(src, 'r')
cols=data1.readline().strip().split(',')

ncols=len(cols)
ncols
#Contar las Filas del documento almacenado en col
counter=0
dic={}
#Crear diccionario de un archivo
for col in cols:
    dic[col]=[]
for line in data1:
    values=line.strip().split(",")
    for i in range(len(cols)):
        dic[cols[i]].append(values[i])
    counter+=1
print('EL data set tiene  %d filas y %d Columnas' %(counter, ncols))